>>>
@charset "UTF-8";
body {
    background-color: cadetblue;
    font-family: Verdana;
    font-size: 20px;
}
h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
}
p {
    color: white;
    text-align: justify
}
li {
    color: white;
}
img {
    display: block;
    margin: 0px auto;
}
>>>
